html,
body {
  height: 100%;
}

.main {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "heading buttons" "textarea textarea";
  grid-template-columns: auto 10rem;
  grid-template-rows: 2rem auto;
  grid-gap: 1rem;
  height: 100%;
  padding: 1rem;
}
.main-heading {
  font-size: 1rem;
  font-weight: bold;
  grid-area: heading;
  line-height: 2rem;
}
.main-buttons {
  grid-area: buttons;
}
.main-textarea {
  grid-area: textarea;
}