html,
body {
  height: 100%;
}

.main {
  --header-height: calc(0.75rem * 2 + 1.5em);  /* calculated button height from bootstrap */
  --footer-height: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "header" "body" "footer";
  grid-template-rows: var(--header-height) auto var(--footer-height);
  grid-gap: 0.5rem;
  height: 100%;
  padding: 1rem;
}
.header {
  display: grid;
  grid-area: header;
  grid-template-areas: "heading buttons";
}
.header-heading {
  font-size: 1rem;
  font-weight: bold;
  grid-area: heading;
  line-height: var(--header-height);
  margin-bottom: 0;  /* kill bootstrap */
}
.header-buttons {
  grid-area: buttons;
  line-height: var(--header-height);
  text-align: right;
}
.header-buttons .btn {
  vertical-align: baseline;
}
.main-textarea {
  grid-area: body;
}
.footer {
  grid-area: footer;
  line-height: var(--footer-height);
}